.reward_container {
  width: 305px;
  margin-bottom: 5px;
}

.reward_header {
  display: flex;
}

.reward_title {
  font-weight: bold;
}

.add_to_cart_button {
  margin-top: 30px;
  margin-bottom: 10px !important;
  background-color: #fff;
  border: 2px solid #a5ff5c;
  border-radius: 10px;
  box-shadow: none;
  color: #7ed321;
  width: 100%;
}

@media (min-width: 420px) {
  .reward_container {
    width: 305px;
  }
}
